<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0 }">
	<div class="row">
		<div class="col"><h4>{{ postTitle }}</h4></div>
		<div class="col text-right font-italic">{{ postCreatedAt | date: 'dd/MM/yyyy, HH:mm a' | uppercase }}</div>
	</div>
	<div class="row">
		<div class="col">{{postContent}}</div>
		
	</div>
	<div class="ro mt-3">
		<button class="btn btn-success" (click)="addLove()">Love It !</button>
		<button class="btn btn-danger" (click)="removeLove()">Don't love It !</button>
	</div>
</li>